<!DOCTYPE html>
<html lang="en","mr">
<head>
<title>Manatala Kokan</title>
<meta charset="utf-8">
<link rel="icon" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/slider.css">
<script src="/js/jquery.js"></script>
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script src="/js/superfish.js"></script>
<script src="/js/sForm.js"></script>
<script src="/js/jquery.jqtransform.js"></script>
<script src="/js/jquery.equalheights.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/tms-0.4.1.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/jquery.ui.totop.js"></script>
<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'random',
        pagination: false, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    });
    $("#tabs").tabs();
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body class="page1">
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="/"><img src="/images/logo.png" alt=""></a></h1>
      <div class="clear"></div>
    </div>
    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li class="current"><a href="/">Home</a></li>
          <!--li class="with_ul"><a href="about.html">About</a>
            <ul>
              <li><a href="#">Agency</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="tours.html">Tours</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contacts.html">Contacts </a></li-->
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</header>
<div class="main">
  <div class="container_12">
    <div class="grid_12">
      <div class="slider-relative">
        <div class="slider-block">
          <div class="slider"> <a href="#" class="prev"></a><a href="#" class="next"></a>
            <ul class="items">
              <li><img src="/images/slide.jpg" alt="">
                <div class="banner">
                  
              </li>
              <li><img src="/images/slide1.jpg" alt=""></li>
              <li><img src="/images/slide2.jpg" alt=""></li>
              <li><img src="/images/slide3.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container_12">
      <div class="grid_12">
        <h3>Top Destinations गंतव्यस्थान  </h3>
      </div>
      <div class="boxes">
        <div class="grid_4">
          <figure>
            <div><img src="/images/page1_img1.jpg" alt=""></div>
            <figcaption>
              <h3>रायगड</h3>
              रायगड जिल्हयाला ऐतिहासिक आणि भौगोलिक पाश्र्वभूमी लाभलेली आहे. जिल्हयाचा उत्तर -दक्षिण विस्तार १७० कि.मी. असून पूर्व - पश्चिम विस्तार ७० कि.मी. इतका आहे. अरबी समुद्राच्या तटांवर स्थित असलेला हा रायगड जिल्हा तिन्ही बाजूंनी हिरव्यागार नारळाच्या झाडांनी व उंच पर्वतांनी वेढलेला आहे जिल्हयाला शिवाजी महाराजांच्या कारभाराची राजधानी म्हणून मान प्राप्त झाला आहे.<a href="#" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="/images/page1_img2.jpg" alt=""></div>
            <figcaption>
              <h3>रत्नागिरी</h3>
            </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="/images/page1_img3.jpg" alt=""></div>
            <figcaption>
              <h3>सिंधुदुर्ग</h3>
            </figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bottom_block">
    <div class="container_12">
      <div class="clear"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <!--div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div-->
      <div class="copy"> Kokan &copy; 2016 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.manatalakokan.in/">manatalakokan.in</a> </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
</body>
</html>